* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    position: relative;
    background-color: rgb(50, 71, 83);
}


main {
    padding: 100px;

}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: blue;
}

header {
    height: 60px;
    width: 98%;
    line-height: 60px;
    background-color: wheat;

}

header {
    border-bottom: 10px solid;
}

.content {
    width: 75%;
    margin-left: 20px;
}

#left-section {
    display: inline-block;
    margin-left: 20px;
    background: rgb(94, 202, 206);
}

#right-section {
    margin-left: 20px;
    background: rgb(38, 177, 187);
    border: 10px solid black
}

.float-left {
    float: left;
    margin-right: 25px;
}

/*This section is to format the about me page with the individual boxes for each header*/
.Career,
.Family,
.Hobbies,
.Future {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border: 10px solid black
}

.Career img,
.Family img,
.Hobbies img,
.Future img {
    width: 275px;
    height: 250px;
}

.Career h2,
.Family h2,
.Hobbies h2,
.Future h2 {
    margin-bottom: 20px;
    font-size: 25px;
}

footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: rgb(94, 202, 206);
    margin-top: 0;
    bottom: 0;
    border-top: 10px solid;
}

header.text-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(94, 202, 206);
    color: blue;
    padding-left: 2%;
    border-bottom: 10px solid black;
}

.text-center {
    display: flex;
    justify-content: center;
}

img {
    display: flex;
    justify-content: center;
    width: 275px;
    height: 250px;
    border: 10px solid black;
}

section h1,
section h3 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: blue;
}

h4 {
    font-size: 20px;
    color: rgb(3, 3, 3);
}

/*This section is for the project images. The images are display correctly on the page.*/
/*The images do not line up with the page when it is shrunk down. I try to get them to line up back they were not ajusting with the page*/
.first-portfolio {
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
    padding: 10px;
    margin: 50px;
    padding-right: 35%;
    padding-left: 30%;
}

.first-portfolio img {
    width: 400px;
    height: 400px;

}

figure {
    display: table;
}

figcaption {
    caption-side: bottom;
}

.portfolio {
    display: flex;
}

.column {
    flex: 33.33%;
    float: left;
    padding: 5px;
    margin: 25px;
    padding-left: 60px;
}

/*I was trying to get my project images to make a column at the bottom
but I was unable to get them to line up. Most of the text elements work where they shrink down when the width is below 800.*/
@media (max-width: 800px) {

    h4 {
        font-size: 10px;
    }

    header.text-right {
        font-size: 10px;

    }

    .text-center ul li a {
        font-size: 10px;

    }


    #left-section {
        font-size: 10px;

    }

    #right-section {
        font-size: 10px;
    }

    footer {
        font-size: 10px;
    }

    .text-right ul li a {
        font-size: 10px;
    }

    section h1,
    section h3 {
        font-size: 15px;

    }

.portfolio{
    width: 50%;
}

}